.Main{
    background-color: lightgrey;
    padding:2em;
}
.CurrentPath{
    font-size:2em;
}
.UpperDiv{
    display: flex;
    padding:10px 0;
    justify-content: space-between;
}
.Details{
    display: flex;
    flex-wrap:wrap;
    width:70%;
}
.OthExp{
    background-color: black;
    color:white;
    width:20%;
    margin-top:10px;
    padding: 25px 5px;
}
.Links{
    display: flex;
    justify-content: space-between;
}